@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
